@using AssetInsight.Core
@using AssetInsight.Models.Post
@using Microsoft.AspNetCore.Mvc.Localization
@model PagingModel<PostVM>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Forum";
}

<link rel="stylesheet" href="~/css/post/forum.css" />

<div class="forum-container">
    <div class="forum-header">
        <h2>@Localizer["CommunityPosts"]</h2>
        <a asp-action="Create" class="btn-create">+ @Localizer["CreatePost"]</a>
    </div>

    <template id="skeleton-template">
        <div class="post-card skeleton-card">
            <div class="skeleton-votes shimmer"></div>
            <div class="skeleton-content">
                <div class="skeleton-line skeleton-meta shimmer"></div>
                <div class="skeleton-line skeleton-title shimmer"></div>
                <div class="skeleton-line skeleton-text shimmer"></div>
            </div>
        </div>
    </template>

    <div id="post-list">
        <partial name="_PostPartial" model="Model.Items" />
    </div>

    <div id="loading-sentinel" style="height: 50px;"></div>
</div>

@section Scripts {
    <script src="~/js/post/post-index.js"></script>
}