@page
@using Microsoft.AspNetCore.Mvc.Localization
@model LoginModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Log in";
}

<h1>@Localizer["LoginTitle"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserNameEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.UserNameEmail" class="form-label">@Localizer["UserName"]</label>
                    <span asp-validation-for="Input.UserNameEmail" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" id="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">@Localizer["Password"]</label>
                    <span id="togglePassword"
                          class="position-absolute top-50 end-0 translate-middle-y me-3"
                          style="cursor: pointer;">
                        <i id="eyeIcon" class="bi bi-eye-slash"></i>
                    </span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["LoginButton"]</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
